 <div class="center">
     <div class="card">
            <div class="card-header">Calculator</div>
            <div class="card-body">
                    <div class="from-group mb-5" [formGroup]="calculatorForm">
                        <div class="row">
                            <div class="col-md-4">
                                <input aria-label="number1" formControlName="number1"  type="number" class="form-control" id="number1">
                                <small *ngIf="this.calculatorForm.get('number1').touched && this.calculatorForm.get('number1').hasError('Required')">
                                    Please Enter a value
                                </small>
                            </div>
                            <div class="col-md-4">
                                <input aria-label="number2" formControlName="number2"  type="number" class="form-control" id="number2">
                                <small *ngIf="this.calculatorForm.get('number2').touched && this.calculatorForm.get('number2').hasError('Required')">
                                    Please Enter a value
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success" (click)="add()" >sum</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" (click)="sub()" >sub</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger" (click)="mul()" >mul</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-warning" (click)="div()" >divi</button>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <h4 class="result">Result : {{result | number: '1.2-2'}}</h4>
            </div>
     </div>
 </div>